


/* 移动端 */
[ className*="col-"] {
	width: 100%;
}
.footer_container {
	width: 100%;
	background: #f0f0f0;
	padding: 40px 10%;
	box-sizing: border-box;
}
.footer {
	width: 4.8rem;
}
.footer_message .contact_phone {
	color: #333;
	font-size: 0.14rem;
	padding-right: 0.4rem;
	box-sizing: border-box;
	text-align: center;
}
.footer_message .mail {
	color: #333;
	font-size: 0.14rem;
	text-align: center;
}
.footer_address {
	color: #333;
	font-size: 0.14rem;
	margin-top: 0.1rem;
	text-align: center;
}
.footer_company {
	color: #999;
	margin-top: 0.24rem;
	font-size: 0.12rem;
	text-align: center;
}
/*大于768 按照这个比例显示 也就是在PC端上按照这个比例显示*/
@media only screen and ( min-width: 768px ){
	.col-1 { width: 8.33%; }
	.col-2 { width: 16.66%; }
	.col-3 { width: 25%; }
	.col-4 { width: 33.33%; }
	.col-5 { width: 41.66%; }
	.col-6 { width: 50%; }
	.col-7 { width: 58.33%; }
	.col-8 { width: 66.66%; }
	.col-9 { width: 75%; }
	.col-10 { width: 83.33%; }
	.col-11 { width: 91.66%; }
	.col-12 { width: 100%; }
	.footer_container {
		width: 100%;
		background: #f0f0f0;
		padding: 40px 10%;
		box-sizing: border-box;
	}
	.footer {
		width: 4.8rem;
	}
	.footer_message .contact_phone {
		color: #333;
		font-size: 0.14rem;
		padding-right: 0.4rem;
		box-sizing: border-box;
	}
	.footer_message .mail {
		color: #333;
		font-size: 0.14rem;
	}
	.footer_address {
		color: #333;
		font-size: 0.14rem;
		margin-top: 0.1rem;
	}
	.footer_company {
		color: #999;
		margin-top: 0.24rem;
		font-size: 0.12rem;
	}
}





